In [1]:
import scanpy as sc

adata = sc.read_h5ad('/labs/Aguiar/SSPA_BRAY/BRay/miscc/ctrl_sspa_test/Bcell_GEX_20251201_control.h5ad')

In [2]:
covid_adata = sc.read_h5ad('/labs/Aguiar/SSPA_BRAY/BRay/BRAY_FileTransfer/Covid19/gm_ctrl_covid.h5ad')

In [3]:
adata

AnnData object with n_obs × n_vars = 2049 × 9400
    obs: 'group', 'condition', 't2dm', 'cvda', 'pt_id', 'comb_id', 'Sex', 'celltype_subclust'
    var: 'gene_ids', 'feature_types', 'genome', 'mito', 'highly_variable', 'means', 'dispersions', 'dispersions_norm'
    uns: 'cell_type_colors', 'cell_type_rank_genes_groups', 'dendrogram_cell_type', 'dendrogram_leiden', 'hvg', 'leiden', 'leiden_colors', 'leiden_rank_genes_groups', 'neighbors', 'pca', 'umap'
    obsm: 'X_pca', 'X_pca_harmony', 'X_umap'
    varm: 'PCs'
    layers: 'raw'
    obsp: 'connectivities', 'distances'

In [4]:
covid_adata

AnnData object with n_obs × n_vars = 194 × 16408
    obs: 'sampleID', 'majorType', 'cell_ID'
    var: 'gene_ids'

In [5]:
adata.obs

,group,condition,t2dm,cvda,pt_id,comb_id,Sex,celltype_subclust
AAAGGTAAGTAGCAAT-1,A,c0d0,0,0,A1,A0,Female,B Cell
AACAAAGCATCGTGGC-1,A,c0d0,0,0,A1,A0,Female,B Cell
AACCAACGTAGTCTGT-1,A,c0d0,0,0,A1,A0,Female,B Cell
AAGCGTTAGGTGAGCT-1,A,c0d0,0,0,A1,A0,Female,B Cell
AAGTGAAAGATAACGT-1,A,c0d0,0,0,A1,A0,Female,B Cell
...,...,...,...,...,...,...,...,...
TTTGGAGAGGTACATA-1,A,NaN,0,0,A8,A8,Male,B Cell
TTTGGTTCAAGTGTCT-1,A,NaN,0,0,A4,A4,Female,B Cell
TTTGGTTTCTAAGCGT-1,A,NaN,0,0,A8,A8,Male,B Cell
TTTGTTGCACCAGTTA-1,A,NaN,0,0,A8,A8,Male,B Cell
TTTGTTGTCTAGTGAC-1,A,NaN,0,0,A8,A8,Male,B Cell

In [6]:
covid_adata.obs

    sampleID majorType      cell_ID
0    S-HC008       CD4    S-HC008_0
1    S-HC008        NK    S-HC008_1
2    S-HC008       CD8    S-HC008_2
3    S-HC008      Mono    S-HC008_3
4    S-HC008         B    S-HC008_4
..       ...       ...          ...
189  S-HC025       CD8  S-HC025_189
190  S-HC025      Mono  S-HC025_190
191  S-HC025         B  S-HC025_191
192  S-HC025        DC  S-HC025_192
193  S-HC025      Mega  S-HC025_193

[194 rows x 3 columns]

In [7]:
adata.var

,gene_ids,feature_types,genome,mito,highly_variable,means,dispersions,dispersions_norm
ENSG00000188976,ENSG00000188976,Gene Expression,GRCh38,False,False,0.198184,1.161064,0.136665
ENSG00000187608,ENSG00000187608,Gene Expression,GRCh38,False,True,0.611551,2.112126,0.962336
ENSG00000186891,ENSG00000186891,Gene Expression,GRCh38,False,False,0.082398,1.352114,0.490153
ENSG00000078808,ENSG00000078808,Gene Expression,GRCh38,False,False,0.423276,1.163203,-0.941575
ENSG00000176022,ENSG00000176022,Gene Expression,GRCh38,False,False,0.046195,0.946936,-0.259522
...,...,...,...,...,...,...,...,...
ENSG00000198840,ENSG00000198840,Gene Expression,GRCh38,True,False,6.281722,6.465203,1.000000
ENSG00000212907,ENSG00000212907,Gene Expression,GRCh38,True,False,2.628459,2.866456,-0.830450
ENSG00000198886,ENSG00000198886,Gene Expression,GRCh38,True,False,5.686319,5.669989,-0.707107
ENSG00000198786,ENSG00000198786,Gene Expression,GRCh38,True,False,4.288185,4.347731,-1.049132
ENSG00000198695,ENSG00000198695,Gene Expression,GRCh38,True,False,1.396438,2.119126,-0.280344

In [8]:
covid_adata.var

                        gene_ids
ENSG00000101811  ENSG00000101811
ENSG00000004142  ENSG00000004142
ENSG00000283992  ENSG00000283992
ENSG00000112619  ENSG00000112619
ENSG00000143786  ENSG00000143786
...                          ...
ENSG00000157077  ENSG00000157077
ENSG00000152942  ENSG00000152942
ENSG00000167232  ENSG00000167232
ENSG00000157978  ENSG00000157978
ENSG00000188906  ENSG00000188906

[16408 rows x 1 columns]

In [11]:
import pandas as pd

simulated_counts = pd.read_csv('/labs/Aguiar/SSPA_BRAY/scdesign3_10000cells_mu/simulated_counts.csv', index_col=0)
similated_metadata = pd.read_csv('/labs/Aguiar/SSPA_BRAY/scdesign3_10000cells_mu/simulated_metadata.csv', index_col=0)

simulated_counts.head()
similated_metadata.head()

      majorType  corr_group
Cell1         B           1
Cell2         B           1
Cell3         B           1
Cell4         B           1
Cell5         B           1

In [13]:
simulated_counts = simulated_counts.T

In [14]:
simulated_counts

,ENSG00000019582,ENSG00000163736,ENSG00000204287,ENSG00000101439,ENSG00000101162,ENSG00000090382,ENSG00000105374,ENSG00000168497,ENSG00000271503,ENSG00000163737,...,ENSG00000079435,ENSG00000165533,ENSG00000187068,ENSG00000142544,ENSG00000278619,ENSG00000162836,ENSG00000165821,ENSG00000169733,ENSG00000164953,ENSG00000126821
Cell1,3,0,1,1,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Cell2,1,2,0,0,1,0,3,3,3,1,...,0,0,0,0,0,0,0,0,0,0
Cell3,3,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
Cell4,5,0,3,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cell5,0,1,0,0,1,0,1,1,3,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cell9996,2,2,2,2,2,0,0,2,1,2,...,0,0,0,0,0,0,0,0,0,0
Cell9997,3,0,1,1,0,0,2,0,3,0,...,0,0,0,0,0,0,0,0,0,0
Cell9998,5,0,2,3,0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cell9999,1,0,0,0,0,0,2,0,3,0,...,0,0,0,0,0,0,0,0,0,0
Cell10000,2,1,1,1,0,2,1,0,3,1,...,0,1,0,0,0,0,0,0,0,0

In [22]:
combined_data = pd.concat([simulated_counts, similated_metadata], axis=1)
combined_data

,ENSG00000019582,ENSG00000163736,ENSG00000204287,ENSG00000101439,ENSG00000101162,ENSG00000090382,ENSG00000105374,ENSG00000168497,ENSG00000271503,ENSG00000163737,...,ENSG00000187068,ENSG00000142544,ENSG00000278619,ENSG00000162836,ENSG00000165821,ENSG00000169733,ENSG00000164953,ENSG00000126821,majorType,corr_group
Cell1,3,0,1,1,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,B,1
Cell2,1,2,0,0,1,0,3,3,3,1,...,0,0,0,0,0,0,0,0,B,1
Cell3,3,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,B,1
Cell4,5,0,3,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,B,1
Cell5,0,1,0,0,1,0,1,1,3,1,...,0,0,0,0,0,0,1,0,B,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cell9996,2,2,2,2,2,0,0,2,1,2,...,0,0,0,0,0,0,0,0,NK,1
Cell9997,3,0,1,1,0,0,2,0,3,0,...,0,0,0,0,0,0,0,0,NK,1
Cell9998,5,0,2,3,0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,NK,1
Cell9999,1,0,0,0,0,0,2,0,3,0,...,0,0,0,0,0,0,0,0,NK,1
Cell10000,2,1,1,1,0,2,1,0,3,1,...,0,0,0,0,0,0,0,0,NK,1

In [23]:
combined_data.drop(columns=['corr_group'], inplace=True)

In [24]:
combined_data

,ENSG00000019582,ENSG00000163736,ENSG00000204287,ENSG00000101439,ENSG00000101162,ENSG00000090382,ENSG00000105374,ENSG00000168497,ENSG00000271503,ENSG00000163737,...,ENSG00000165533,ENSG00000187068,ENSG00000142544,ENSG00000278619,ENSG00000162836,ENSG00000165821,ENSG00000169733,ENSG00000164953,ENSG00000126821,majorType
Cell1,3,0,1,1,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,B
Cell2,1,2,0,0,1,0,3,3,3,1,...,0,0,0,0,0,0,0,0,0,B
Cell3,3,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,B
Cell4,5,0,3,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,B
Cell5,0,1,0,0,1,0,1,1,3,1,...,0,0,0,0,0,0,0,1,0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cell9996,2,2,2,2,2,0,0,2,1,2,...,0,0,0,0,0,0,0,0,0,NK
Cell9997,3,0,1,1,0,0,2,0,3,0,...,0,0,0,0,0,0,0,0,0,NK
Cell9998,5,0,2,3,0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,NK
Cell9999,1,0,0,0,0,0,2,0,3,0,...,0,0,0,0,0,0,0,0,0,NK
Cell10000,2,1,1,1,0,2,1,0,3,1,...,1,0,0,0,0,0,0,0,0,NK

In [25]:
combined_data['covid'] = 0